
<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      Manage Drivers <button class="btn btn-success mr-2 float-end text-light" (click)="addDriver()">Add Driver</button>
    </c-card-header>
    <c-card-body>
      <div class="mb-3">
        <!-- Add Buttons for Adding Drivers -->
        <br>
      </div>

      <p class="text-medium-emphasis small">
        <br>
      </p>
      <table stripedColumns cTable>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Gender</th>
          <th scope="col">ID Number</th>
          <th scope="col">license Number</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of data ;index as i">
          <td>{{i + 1}}</td>
          <td>{{result.firstName}} {{result.lastName}}</td>
          <td>{{result.email}}</td>
          <td>{{result.contractNumber }}</td>
          <td>{{result.gender}}</td>
          <td>{{result.idNumber}}</td>
          <td>{{result.licenseNumber}}</td>
          <td>{{result.status}}</td>
          <td>
            <c-dropdown>
              <button cButton cDropdownToggle color="secondary" (click)="setUser(result)">
                Select function
              </button>
              <ul cDropdownMenu>
                <li><a routerLink="/drivers/edit-drivers"  cDropdownItem>Edit</a></li>
                <li><a  (click)="toggle()" cDropdownItem>Delete</a></li>
              </ul>
            </c-dropdown>
          </td>
        </tr>
        <!-- Add more rows as needed -->
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</c-col>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Delete</h5>
    <button (click)="toggle()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Are you sure you want to delete this driver!</c-modal-body>
  <c-modal-footer>
    <button (click)="toggle()" cButton color="secondary">
      Close
    </button>
    <button cButton color="danger" (click)="deleteUser()">Delete</button>
  </c-modal-footer>
</c-modal>

